<%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <div class="mb-3">
        <%= form.label :Name, class: "form-label" %>
        <%= form.text_field :commenter, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= form.label :Comment, class: "form-label" %>
        <%= form.text_area :body, class: "form-control", rows: 3 %>
    </div>

    <div>
        <%= form.submit "Add Comment", class: "btn btn-primary" %>
    </div>
<% end %>