<a href="/">< Back</a>

<h1> <%= @article.title %> </h1>

<p style="line-height: 0px"> <%= @article.body %> </p>

<ul>
    <li>
        <%= link_to "Edit", edit_article_path(@article) %>

    </li>
    <li>
        <%= link_to "Destroy", article_path(@article), data: { 
    turbo_method: :delete,
    turbo_confirm: "Are you Sure?"
 } %>
    </li>
</ul>

<h3 style="line-height: 0px; padding-top: 20px;">> Comments</h3>
<% if @article.comments.empty? %>
        <p> <%= "No Comment Found" %> </p>
<% else %>
        <%= render @article.comments %>
<% end %>
    


<h3 style="line-height: 0px; padding-top: 20px;">> Add a comment: </h3>
<%= render "comments/form", article: @article %>